.disabled {
    cursor: not-allowed;
    opacity: .5;
}

::placeholder {
    color: #A9A9A9;
}

.form-group {
    border-radius: 2px;
    width: 350px;
    height: 30px;
}

.modal-dialog {
    width: 400px;
}