<div>
  <h3 class="recent-post-title">Comments:</h3>
  <div class="navbar" role="navigation">
    <div class="container"></div>
    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-brand">Sort by:</a>
      </li>
      <li ng-class="{selected: sortCommentType=='poster'}">
        <a ng-click="sortComments('poster')"> Post Author </a>
      </li>
      <li ng-class="{selected: sortCommentType=='postTitle'}">
        <a ng-click="sortComments('postTitle')"> Post Title </a>
      </li>
      <li ng-class="{selected: sortCommentType=='likes'}">
        <a ng-click="sortComments('likes')"> Likes </a>
      </li>
      <li ng-class="{selected: sortCommentType=='recent'}">
        <a ng-click="sortComments('recent')"> Recent </a>
      </li>
    </ul>
    <span ng-click="refresh()" class="refresh-icon">
      <i class="glyphicon glyphicon-refresh"></i>
    </span>
  </div>
  </div>
  <hr>
  <div class="list-group">
    <a ng-repeat="comment in filteredComments track by $index" ng-click="handleCommentClick($index)" comment="comment" class="list-group-item list-group-item-action flex-column align-items-start posts-list"
      data-toggle="modal" data-target="#commentModal">
      <div class="d-flex w-100 justify-content-between inline-block post-content">
        <h5 class="mb-1 post-title">
          {{comment.post.title}}
        </h5>
        <small>
          <strong> votes : {{comment.votes}}</strong>
        </small>
        <p class="mb-1">{{comment.message}}</p>
        <small>{{comment.created_at | date:'medium'}}</small>
      </div>
    </a>
    <div id="commentModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class = "inline-block">
            <h4 class="modal-title">{{currentComment.post.title}}</h4>
            <h5 ng-click="handleUsernameClick(currentComment.post.user_id)" data-dismiss="modal"> {{currentComment.post.username}} </h5>
            </div>
            <img ng-src="https://robohash.org/{{currentComment.post.username}}.png?size=80x80" class = "inline-block"/>
          </div>
          <div class="modal-body">
            <pre>{{currentComment.post.code}}</pre>
          </div>
          <div class="modal-body">
            <p>{{currentComment.post.summary}}</p>
          </div>
          <div class="modal-footer">


            <div ng-repeat="comment in postComments track by $index" class="comments-list" ng-class="{'solution': comment.solution}">


              <div id="like-error" class="alert alert-danger alert-dismissible fade in" style="display:none">

                <strong>No more Hackcoins!</strong> Please wait for your coins to refresh
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong ng-click="handleUsernameClick(comment.user_id)" data-dismiss="modal">{{comment.username}}</strong>
                      <span class="text-muted">commented at {{comment.created_at | date:'short'}}</span>
                      <span ng-class="{'glyphicon glyphicon-star': currentPost.solution_id === comment.comment_id}" aria-hidden="true"></span>
                    </div>
                    <div class="panel-body">
                      <p ng-bind-html="comment.message"></p>
                    </div>
                    <!-- /panel-body -->
                    <p style="margin-right: 2px;">
                      <small>
                        <a ng-class="{'disabled': $root.hackcoin <= 0 || !$root.userId}" ng-click="likeComment(comment.comment_id, $index)" href="">Like</a> -
                        <a ng-show="currentPost.user_id === $root.userId" ng-click="selectSolution(comment)" href="">Mark as Solution</a> Votes: {{comment.votes}}
                      </small>
                    </p>
                  </div>
                  <!-- /panel panel-default -->
                </div>
                <!-- /col-sm-5 -->
              </div>
            </div>


            <form ng-show="$root.userId" name="commentCommentForm" ng-submit="submitCommentComment(commentForm.$valid)" novalidate>

              <div class="form-group">
                <label for="newCommentDescription" class="pull-left">Your response</label>
                <textarea name="message" ng-model="message" class="form-control" rows="3" placeholder="Write your comment here" ng-maxlength="8000"
                  required></textarea>
                <p ng-show="commentForm.message.$error.required && commentForm.message.$dirty" class="help-block">You cannot leave a blank comment.</p>
                <p ng-show="commentForm.message.$error.maxlength" class="help-block">Your comment is too long.</p>
              </div>
              <button type="submit" ng-click="commentForm.$setPristine()" ng-disabled="commentForm.$invalid" class="btn btn-primary pull-left">Submit</button>
            </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>