<h2  style="opacity: 0;">User Page</h2>
<div class="user-profile"> 
  <h3>{{name}}</h3>
  <img ng-src="https://robohash.org/{{user.username}}.png?size=80x80"/>
  <h5> Skills: {{user.skills}} </h5>
  <h5> Hackcoin: {{user.hackcoin}} </h5>
  <button ng-show='self' data-toggle="modal" data-target="#edit-user-modal"> Edit </button>
</div>
<div class="modal fade" id="edit-user-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Skills</h4>
      </div>
      <form name="skillsForm" ng-submit="editSubmit(skillsForm.$valid)" ng-controller="UserCtrl">
        <div class="modal-body">
          <div class="form-group input-group log-group">
            <input class="form-control" 
              type="text" name="skills" 
              ng-model="user.skills"  
              rows="5" 
              required>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" ng-click="skillsForm.$setPristine()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<posts-front-page></posts-front-page>
<pagination 
  ng-model="currentPage" 
  total-items="userPosts.length" 
  max-size="5" 
  boundary-links="true" 
  items-per-page="numPerPage"
  class="user-profile">
</pagination>

<comments-user-page></comments-user-page>
<pagination 
  ng-model="currentCommentPage" 
  total-items="userComments.length" 
  max-size="5" 
  boundary-links="true" 
  items-per-page="numPerPage"
  class="user-profile">
</pagination>

<notes-user-page></notes-user-page>
<pagination 
  ng-model="currentNotePage" 
  total-items="userComments.length" 
  max-size="5" 
  boundary-links="true" 
  items-per-page="numPerPage"
  class="user-profile">